@model IEnumerable<WebMVC_BI_Client.Models.ApplicationUser>
@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Registrar", "Register")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Nombre de Usuario
        </th>
        <th>
            Roles
        </th>
        <th>
            Api Token
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @ViewBag.UsRoNa[item.Id]
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApiToken)
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { userId = item.Id })
        </td>
    </tr>
    }

</table>
